<div id="myCarousel" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
      <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
      <div class="carousel-item active">

        <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img">

        <image href="https://i.imgur.com/npFf5ZY.png" width="100%" /> 
         <!-- <image src="assets/carousel1.png"/>  -->
        </svg>
        
        <div class="container">
          <div class="carousel-caption text-left">
            <h1>Тренуйся разом з нами</h1>
            <p>Мрієш схуднути або ж бути схожим на бодібілдера з картинок журналів, але недостатньо часу або коштів для відвідування спортивного залу?</p>
              <div *ngIf="isAuth==false">
               <p><a class="btn btn-lg btn-primary" href="#" role="button">Реєструйся!</a></p>
              </div>
          </div>
        </div>
      </div>

      <div class="carousel-item">
        <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img"><rect width="100%" height="100%" fill="#777"/>
          <image href="https://i.imgur.com/euDaQdL.jpg" width="100%" /> 
        </svg>
        <div class="container">
          <div class="carousel-caption text-left">
            <h1>Тренуйся разом з нами</h1>
            <p>Мрієш схуднути або ж бути схожим на бодібілдера з картинок журналів, але недостатньо часу або коштів для відвідування спортивного залу?</p>
              <div *ngIf="isAuth==false">
               <p><a class="btn btn-lg btn-primary" href="#" role="button">Реєструйся!</a></p>
              </div>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img"><rect width="100%" height="100%" fill="#777"/>
          <image href="https://i.imgur.com/hBtJo5y.png" width="100%" /> 
        </svg>
        <div class="container">
          <div class="carousel-caption text-left">
            <h1>Тренуйся разом з нами</h1>
            <p>Мрієш схуднути або ж бути схожим на бодібілдера з картинок журналів, але недостатньо часу або коштів для відвідування спортивного залу?</p>
              <div *ngIf="isAuth==false">
               <p><a class="btn btn-lg btn-primary" href="#" role="button">Реєструйся!</a></p>
              </div>
          </div>
        </div>
    </div>
    <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>

  