<div class="container marketing">

    <!-- Three columns of text below the carousel -->
    <div class="row">
      <div class="col-lg-4">
        
        <svg class="bd-placeholder-img" width="140" height="140" xmlns="http://www.w3.org/2000/svg" focusable="false" role="img" aria-label="Placeholder: 140x140">
          <image href="https://i.imgur.com/QQt8o6E.png" width="100%" height="100%"/> 
        </svg>

        <h2 style="font-weight: bold">Тренування</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis dolorem corrupti sapiente neque veniam necessitatibus exercitationem aut animi! Necessitatibus, eligendi!</p>
        <p><a class="btn btn-secondary" href="#anchor1" role="button">View details &raquo;</a></p>
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4">

        <svg class="bd-placeholder-img" width="140" height="140" xmlns="http://www.w3.org/2000/svg" focusable="false" role="img" aria-label="Placeholder: 140x140">
          <image href="https://i.imgur.com/g6IDjom.png" width="100%" height="100%"/> 
        </svg>

        <h2 style="font-weight: bold">Харчування</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium, repudiandae exercitationem. Ab accusantium distinctio sequi!</p>
        <p><a class="btn btn-secondary" href="#anchor2" role="button">View details &raquo;</a></p>
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4">
        <svg class="bd-placeholder-img" width="140" height="140" xmlns="http://www.w3.org/2000/svg" focusable="false" role="img" aria-label="Placeholder: 140x140">
          <image href="https://i.imgur.com/FYZDfRV.png" width="100%" height="100%"/> 
        </svg>
        <h2 style="font-weight: bold">Челенджі</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto, asperiores sed iure fugiat molestias aliquam vel voluptate harum esse similique ratione? Officia numquam quo reprehenderit obcaecati! Repellat, cum?</p>
        <p><a class="btn btn-secondary" href="#anchor3" role="button">View details &raquo;</a></p>
      </div><!-- /.col-lg-4 -->
    </div><!-- /.row -->


    <!--  -->
    <div class="container marketing">
      <hr class="featurette-divider">
  
      <div class="row featurette">
        <div class="col-md-7" id="anchor1">
          <h2 class="featurette-heading" >Легко плануйте свої тренування з нашою допомогою!</h2>
          <p class="lead">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Consectetur, itaque numquam natus eaque alias assumenda illum est cumque eos iure libero dignissimos animi sed dicta ex, eligendi quidem molestiae dolore voluptatum atque nisi cupiditate. Eveniet quisquam, exercitationem ex voluptas ab deserunt deleniti itaque nesciunt esse.</p>
          <p><a class="btn" routerLink="trainings" role="button">Let's start &raquo;</a></p>
        </div>

        <div class="col-md-5">
          <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img">
            <image href="https://i.imgur.com/STUFfjH.png" width="100%" height="100%"/> 
          </svg>
        </div>
      </div>
  
      <hr class="featurette-divider">
  
      <div class="row featurette">
        <div class="col-md-7 order-md-2" id="anchor2">
          <h2 class="featurette-heading">Складіть індивідуальну дієту.</h2>
          <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magni corrupti, rerum, quidem ex amet omnis possimus accusamus, aut repellat eaque exercitationem sint mollitia reiciendis quos. Similique enim non nam dolor! </p>
          <p><a url="#" role="button" class="btn-disabled">Coming soon</a></p>
        </div>
        <div class="col-md-5 order-md-1">
          <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 500x500">
            <image href="https://i.imgur.com/Y3Z236z.png" width="100%" height="100%"/> 
          </svg>
        </div>
      </div>
  
      <hr class="featurette-divider">
  
      <div class="row featurette">
        <div class="col-md-7" id="anchor3"> 
          <h2 class="featurette-heading">Випробуйте свої сили та змагайтесь з іншими.</h2>
          <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat, repudiandae dolor? Accusantium obcaecati quae doloribus excepturi dolor nisi fugit, minus aliquam, blanditiis ipsa nesciunt voluptatibus adipisci sint iste, corporis quia!</p>
          <p><a url="#" role="button" class="btn-disabled">Coming soon</a></p>
        </div>
        <div class="col-md-5">
          <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 500x500">
            <image href="https://i.imgur.com/u9m6z56.png" width="100%" height="100%"/> 
          </svg>
        </div>
      </div>
  
      <hr class="featurette-divider">
  </div>
